language: python

python:
    - "2.6"
    - "2.7"

install:
    - "pip install -r requirements.txt -r requirements-test.txt --use-mirrors"

before_install:
    - sudo add-apt-repository -y ppa:rethinkdb/ppa
    - sudo apt-get update -q
    - sudo apt-get install rethinkdb -y --force-yes

before_script: 
    - rethinkdb --daemon

script:
    - nosetests --with-coverage

after_success: 
    - coveralls
